@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Search Input Styles */
.search-input {
  border-radius: 20px;
  background: white;
  font-size: 13px;
  padding: 10px;
  color: #202020;
  padding-left: 40px;
  width: 500px;
}

.search-input::placeholder {
  color: #202020;
}

@media (max-width: 800px) {
  .search-input {
    width: 100%;
  }
}

/* Horizontal line styles */
.line {
  margin-top: 80px;
  margin-bottom: 40px;
  background: #121212;
}
